<h3> <%= @doctor.name%>'s Patients<br>
<% @doctor.patients.each do |patient| %>
  <div><%= link_to patient.name, doctor_patient_path(@doctor.id, patient.id) %><br>
  </div>
<% end %><br>

<h3>Patients without appointment<h3>
<% @p.each do |patient|%>
<%= patient.name%><br>
<%end%><br><br>

<h3>Create an appointment for a patient<h3><br>
<%= link_to "New Appointment", new_doctor_appointment_path(@doctor.id)%><br>
<% if session[:doctor_id] %>
<%= link_to "Doctor's Home", "/doctors/show"%>
<%end%>