<h1><%= @patient.name %></h1>
<p>Appointments:</p>
<% @patient.appointments.each do |appointment| %>
  <div><%= appointment.doctor.name %><br>
  <%= link_to appointment.date, patient_appointment_path(@patient.id, appointment.id) %><br>
  </div>
<% end %><br>




<% if !session[:patient_id].nil? %><br>
<%= link_to "Edit Patient's Info", edit_patient_path(@patient) %><br>

<%= link_to "Logout", "/patients/logout"%><br>
<%end%>

<% if !session[:doctor_id].nil?%>
<%= link_to "Back to Home Page", "/doctors/show"%>
<% end%>