<% if @doctor.errors.any?%>
<h5> <%=@doctor.errors.full_messages.to_sentence%></h5>
<%end%><br>

<%= form_for @doctor do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
  <%= f.submit %>
<% end %>