<%= form_tag("/doctors/search_results") do %>
  <div>
  <%= label_tag :name %><br>
  <%= text_field_tag :name%>
  </div>
   <div class="actions">
    <%= submit_tag "Search for Doctors" %>
  </div>
  <% end %><br>

<% @doctors.each do |doctor| %>
  <div><%= doctor.name%><br>
  </div>
<% end %>