<% if @flag %>
  <%= "There was a problem with that given information. Please try again" %>
<%end%>

<h1>Doctor's Log In</h1>
<%= form_tag doctors_login_path do %>
<div class="field">
<%= label_tag :email %><br>
<%= text_field_tag :email %>
</div>
 <div class="field">
   <%= label_tag :password %><br>
<%= password_field_tag :password %>
</div>
 <div class="actions">
  <%= submit_tag "Log In" %>
</div>
<% end %>