<h1><%= @doctor.name %></h1><br>
<p>Appointments:</p>
<% @doctor.appointments.each do |appointment| %>
  <div><%= appointment.patient.name %><br>
  <%= link_to appointment.date, appointment_path(appointment.id)%><br><br>
  </div>
<% end %><br>

<%= link_to "Search Appointment", appointments_search_path%><br><br>
<%= link_to "Edit Doctor's Info", edit_doctor_path(@doctor)%><br><br>
<%= link_to "Patients", doctor_patients_path(@doctor)%><br><br>
<%= link_to "Logout", doctors_logout_path(@doctor)%><br>

