<% if @appointment.errors.any?%>
<h5> <%=@appointment.errors.full_messages.to_sentence%></h5>
<%end%><br>

<%= form_for @appointment do |f| %>
  <%= f.label :date %><br>
  <%= f.datetime_field :date %><br>
  <%= f.label :doctor_name %><br>
  <h3> <%= @doctor.name%><br>
  <%= f.collection_select :patient_id, @patients, :id, :name %><br>
  <%= f.submit %>
<% end %>
