<h3>Appointment Info<h3>
<%= @appointment.date.strftime '%d.%m.%Y %H:%M:%S'%><br>
<%= @appointment.doctor.name%><br>
<%= @appointment.patient.name%><br>
<% if @appointment.doctor_prescription%>
<%= @appointment.doctor_prescription%>
<%else%>
<h3>There are no prescriptions yet</h3>
<%end%><br>


<% if !session[:doctor_id].nil?%>
<%= link_to "Add Prescription", "/appointments/#{@appointment.id}/prescription"%><br>
<%= link_to "Delete Appointment", "/appointments/#{@appointment.id}/delete"%><br>
<%= link_to "Doctor's Homepage", doctor_path(@doctor.id)%><br>
<% elsif !session[:patient_id].nil? %>
<%= link_to "Patient's Homepage", patient_path(@patient.id)%><br>

<% end%><br>

