<!DOCTYPE html>
<html>
  <head>
    <title>DoctorPatientAppointment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if !session[:doctor_id].nil? %>
    <%= link_to "Doctor's Page", doctor_path(session[:doctor_id])%><br>
    <%= link_to 'Logout', "/doctors/logout" %>
    <% elsif !session[:patient_id].nil? %>
    <%= link_to "Patient's Page", patient_path(session[:patient_id]) %><br>
    <%= link_to 'Logout', "/patients/logout" %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
